* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  height: 3rem;
}
header a {
  text-decoration: none;
  color: #ffffff;
  padding: 1px;
  font-weight: bold;
}
header a:hover {
  color: #f08040;
}
.logo {
  font-size: 2rem;
  margin-left: 10px;
}
.logo a {
  text-decoration: none;
  color: yellow;
}

footer {
  background-color: #203040;
  display: block;
  color: #ffffff;
  padding: 20px;
}
.footer-menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer-menu ul li {
  list-style: none;
}
.footer-menu ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
}
.footer-menu ul li a:hover {
  color: #f08040;
}
.copyright {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 50px;
}
/***Products*/

.products {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 50px;
  justify-content: center;
  list-style-type: none;
}
.products li {
  flex: 0 1 30rem;
  border-top: 0.2rem #e0e0e0 solid;
  margin: 1rem;
  margin-bottom: 0;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
